* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #1C2735;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px; 
}

h1 {
    color: #FFFFFF;
    font-size: 30px;
    margin-left:50px  
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin-right: 40px;
    position: relative;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.dropbtn {
    background-color: #1C2735;
    color: #FFFFFF;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C2735;
    min-width: 160px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #39495E;
}


.news{
    background-color:azure ;
    color:#FFFFFF;
    height:95vh;
    background-image:url(images/mountains-8314422_1920.png);
    background-size: cover;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.news h2{
    font-size:50px;
    color:#1C2735;
}
.news p{
    font-size:18px;
    color:#3D3D3D;
    font-weight: bold;
    margin:25px 0;
}
.news a{
    color:#2F2227;
    padding:10px 20px;
}
.slogan{
    background-color:#424B54;
    color:#FFFFFF;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size 20px;
    line-height:1.8em;
}
.picks{
    display:flex;
}
.picks img{
    width:50%
}
.info{
    width:50%;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.info h2{
    font-size:40px;
    margin-bottom:30px;
}
.info a {
    color:#424B54;
}
.newsletter {
    background-color:#485652;
    color:white;
    padding:60px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.newsletter p {
    margin-bottom: 20px;
}
.newsletter input, .newsletter button {
    background-color: transparent;
    color:white;
    border: 1px solid #949d9a; 
    padding: 10px; 
    border-radius: 5px;;
}
.newsletter input {
    width:200px;
    margin-right: 15px;;
}
.newsletter button {
    width:80px;
    cursor:pointer;
}

footer{
    background-color:#424B54;
    color:#FFFFFF;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size 14px;
}
.menu {
    display:none;
}
/* 响应式设计语法 */
@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }
    header h1 {
        font-size: 20px;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .menu {
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 20px; /* 调整menu按钮的位置 */
        border: none;
        cursor: pointer;
    }
    .news h2 {
        font-size: 40px;
        text-align: center; /* 居中标题文本 */
    }
    .picks {
        flex-direction: column;
    }
    .picks img {
        width: 100%;
    }
    .info {
        width: 100%;
        padding: 40px 0;
    }
}
